body {
    margin-bottom: 50px;
}

.authorization {
    margin-top: 100px;
    text-align: center;
}

.authorization input {
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px gray solid;
    border-radius: 5px;
}

button[type="submit"],
button[type="button"]
{
    padding: 5px 50px;
    font-size: 14px;
    border-radius: 10px;
    font-weight: bold;
    background: lightblue;
    cursor: pointer;
}

.reset {
    text-align: right;
}

.reset button{
    font-size: 12px;
}

.edit_panel {
    position: relative;
    text-align: center;
    padding: 0 30px;
}

.edit_panel .submit_place {
    position: fixed;
    width: 100%;
    z-index: 2;
    bottom: 0;
    left: 50%;
    padding: 20px 0;
    transform: translateX(-50%);
    background: rgba(129, 244, 255, 0.48);
}

@media screen and (max-width: 736px) {
    .edit_panel {
        padding: 0;
    }
}

.edit_panel.certificates > details > div {
    display: grid;
    grid-template-columns: auto auto 125px;
    margin: 30px auto;
    background: #87ced4;
    padding: 20px;
}

@media screen and (max-width: 736px) {
    .edit_panel.certificates > details > div {
        grid-template-columns: auto;
        padding: 20px 0;
    }
}

.edit_panel > details {
    padding: 3px 0;
    margin-bottom: 15px;
    background: #b0e0e2;
    cursor: pointer;
    border-radius: 20px;
}

.edit_panel > details > * {
    margin: 20px;
}
@media screen and (max-width: 736px) {
    .edit_panel > details > * {
        margin: 20px 0;
    }
}

.edit_panel > details > summary {
    margin-bottom: 5px;;
}

.edit_panel > details[open] {
    padding: 20px 0;
    cursor: auto;
}

.edit_panel > details:nth-child(even) {
    background: #b3d1df;
}

.edit_panel ul {
    list-style: none;
    padding: 0;
}
.edit_panel h3 {
    text-transform: uppercase;
}
.edit_panel li:nth-child(n) {
    background: #c1d5d7;
    margin: 5px 0;
    border-radius: 10px;
}

.edit_panel li:nth-child(odd) {
    background: #98a6a8;
}

.edit_panel li > label {
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.edit_panel li > label > span:first-child {
    width: 100px;
}
.edit_panel li > label > span:only-child, .edit_panel li > label > select:only-child {
    margin: 20px;
}

.edit_panel input[type="text"], .edit_panel input[type="search"], input[type="number"], .edit_panel textarea {
    width: 90%;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 15px;
    font-size: 12px;
}
@media screen and (max-width: 736px) {
    .edit_panel input[type="text"], .edit_panel input[type="search"], input[type="number"], .edit_panel textarea {
        width: 88%;
        padding: 10px 10px;
        margin-top: 10px;
        border-radius: 15px;
        font-size: 12px;
    }
}
.price_list input[type="text"], .price_list input[type="search"], .price_list input[type="number"] {
    width: auto;
}
.price_list input[type="number"] {
    width: 60px;
    padding: 5px 10px;
}
.price_list input[type="text"], .price_list input[type="search"] {
    width: 250px;
}
.price_list th {
    background: #c1d5d7;
    text-align: center;
}
.price_list td {
    text-align: center;
}
input:disabled, textarea:disabled {
    background: #cecece;
    color: gray;
}
.edit_panel input[type="text"] {
    font-weight: bold;
}

.edit_panel textarea {
    height: 80px;
    min-height: 70px;
    resize: vertical;
}

@media screen and (max-width: 736px) {
    .edit_panel textarea {
        height: 100px;
        min-height: 100px;
        resize: vertical;
        width: 90%;
    }
}

.image_editor {
    width: 70%;
    margin: 20px auto;
}

.image_editor img {
    width: 80%;
    border: gold;
    margin-bottom: 30px;
}
.image_editor input[type="file"] {
    font-size: 14px;
    padding: 20px;
}
.image_editor input[type="file"] > input[type="button"] {
    font-size: 16px;
    font-weight: bold;
}

.price_list .image_editor {
    width: auto;
    margin: 5px;
}

.price_list .image_editor img {
    width: 100px;
    margin: 5px;

}
.price_list table {
    margin: 10px auto 100px auto;
}
.price_list td {
    padding: 25px 5px;
}
.price_list tr {
    background: aliceblue;
}
.price_list tr:hover {
    background: #cfebef;
}
.checkbox_list label:has(input:checked) {
    background: #95e59a !important;
}

.deleter {
    cursor: pointer;
    background: rosybrown;
    color: darkred;
    font-size: 10px;
    margin-top: 10px;
}
#new_price_item {
    background: #e7fce8;
    margin-bottom: 30px;
    padding: 40px;
    border-radius: 20px;
}
@media screen and (max-width: 736px) {
    #new_price_item {
        padding: 40px 0;
    }
}
.changer {
    cursor: pointer;
    font-size: 11px;
    text-transform: uppercase;
}
#new_price_item button {
    /*margin: 40px;*/
    font-size: 12px;
    background: #c4f6c4;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: bold;
}
#new_price_item button:hover {
    background: #88f388;
}
select[name="certificates__course"] {
    zoom: 1.6;
    font-weight: 700;
    color: #015959;

}
.checkbox_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 736px) {
    .checkbox_list {
        display: grid;
        grid-template-columns: 1fr;
    }
}
.checkbox_list label{
    text-align: left;
    cursor: pointer;
    padding: 5px 10px 5px 3px;
    border: 1px green solid;
    border-radius: 10px;
    margin: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    white-space: nowrap;
}
.checkbox_list input[type='checkbox'] {
    margin-right: 3px;
    zoom: 1.4;
}
.navigation {
    margin: 10px auto;
    text-align: center;
}
.navigation input {
    background: aliceblue;
    margin: 0 10px;
    min-width: 100px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
}
.navigation .pressed {
    background: #d3fcd3;
    font-weight: bold;
}

#tag_search {
    margin: 20px auto;
    max-width: 300px;
}
#tag_search_with_values {
    zoom: 1.5;
}

button.reset {
    color: lightcoral;
    padding-right: 5px;
    padding-left: 5px;
}
.search_editor .input_adviser {
    margin-bottom: 10px;
    font-weight: bolder;
}

.search_editor .add_item  {
    margin-left: 10px;
    padding: 2px 5px;
    border-radius: 10px;
}

.list_adviser {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: max-content;
    background: #e7fce8;
    border: 1px solid #015959;
    border-radius: 5px;
    margin: 0 auto;
    list-style: disc;
    z-index: 2;
}
.list_adviser li {
    padding: 2px 5px;
    margin: 2px 0;
    text-align: left;
    background: cadetblue;
}
.list_adviser li:hover {
    background: #c4f6c4;
}

.checkbox_list label{
    background: lightgreen;
    font-weight: bold;
    padding-left: 10px;
}

.checkbox_list label > strong{
    margin-left: 10px;
}

.checkbox_list label > input[type="number"]{
    margin: 0 10px;
    float: right;
    font-weight: bolder;
    text-align: right;
    padding-right: 5px;
}
.checkbox_list .remover {
    font-weight: bolder;
    color: darkred;
    border: 2px solid black;
    cursor: pointer;
    margin: auto 0;
    padding: 2px 5px;
    border-radius: 5px;
    float: right;
}

.checkbox_list .remover:hover {
    border-color: darkred;
    color: black;
}